body {
	width: 100%;
	background-image: url(img/body.jpg);
	font-family: Arial, Helvetica, sans-serif;
}
.clear {
	clear: both;
}
.bodyWrap {
	max-width: 1400px;
	min-width: 310px;
	margin: 0px auto;
	height: 1000px;
	padding-top: 45px;

}
.pageBody {
	margin-top: 25px;
}

									/*	ШАПКА	*/

.header {
	padding-left: 30px;
}
.logoWrap {
	float: left;
	color: silver;
}
.logoWrap img {
	display: block;
	height: 100%;
}
.logoWrap span {
	line-height: 30px;
	font-size: 13px;
}
.searchForm {
	float: right;
	padding: 20px;
	background-color: black;
	border-radius: 10px;
	width: 30%;
}
.searchWrap {
	background-color: white;
	border-radius: 6px;
}
.searchWrap input {
	float: left;
	width: 80%;
	margin: 10px 5px 5px 20px;
	border: none;
	font-size: 15px;
	color: #9d9d9d;
	outline: none;
}
.searchWrap input:focus {
	outline: none;
}
.searchWrap div {
	float: right;
	width: 38px;
	height: 38px;
	background-color: #00a9ff;
	background-image: url(img/search-button.png);
	background-repeat: no-repeat;
	background-position: center;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
.searchWrap div:hover {
	background-color: silver;
} 
@media screen and (max-width: 1140px){
	.searchForm {
		width: 320px;
	}
	.searchWrap input {
		width: 250px;
	}
}
@media screen and (max-width: 720px){
	.bodyWrap {
		padding-top: 20px;
	}
	.logoWrap img {
		width: 200px;
	}
	.searchForm {
		padding: 10px;
		width: 45%;
	}
	.searchWrap input {
		margin: 4px 2px 2px 10px;
		width: 77%;
	}
	.searchWrap div {
		width: 28px;
		height: 28px;
		background-size: 15px;
	}
}
@media screen and (max-width: 465px){
	.logoWrap {
		float: none;
	}
	.logoWrap img {
		width: 250px;
	}
	.searchForm {
		float: none;
		margin-top: 5px;
		padding: 10px;
		width: 80%;
	}
}

								/*	НАВИГАЦИОННОЕ МЕНЮ	*/

.navMenu li {
	list-style: none;
	width: 19.9%;
	display: block;
	float: left;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background-color: black;
	text-align: center;
}
.navMenu a {
	display: block;
	padding: 20px;
	text-decoration: none;
	font-size: 1.3em;
	color: white;
}
.navMenu li:hover {
	background-color: white;
}
.navMenu a:hover {
	color: black;
}
.navMenu .liClass {
	margin-left: .1%;
}
@media screen and (max-width: 900px){
	.navMenu li {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	.navMenu a {
		padding: 15px;
		font-size: 1em;
	}
	.navMenu .liClass {
		margin-left: 0.05%;
	}
}
@media screen and (max-width: 650px){
	.navMenu li {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	.navMenu a {
		padding: 15px 5px;
		font-size: 13px;
	}
	.navMenu .liClass {
		margin-left: 0.05%;
	}
}
@media screen and (max-width: 465px){
	.pageBody {
		margin-top: 15px;
	}
	.navMenu ol {
		background-color: white;
	}
	.navMenu li {
		float: none;
		width: 100%;
		border-radius: 5px;
		border-top: solid thin white;
		border-bottom: solid thin white;
	}
	.navMenu a {
		text-align: left;
		padding: 10px 5px;
		font-size: 1em;
	}
	.navMenu .liClass {
		margin-left: 0px;
	}
}

								/*	СЛАЙДЕР  */

.sliders {
	height: 400px;
	padding-top: 10px;
	background-color: white;
	position: relative;
}
.slidImg1, .slidImg2, .slidImg3 {
	display: none;
	width: 1000px;
	margin: 0px auto;
}
.slidImg1 img, .slidImg2 img, .slidImg3 img {
	width: 100%;
}
.slidersText1, .slidersText2, .slidersText3 {
	position: absolute;
	top: 60px;
	left: 100px;
	display: none;
}
.slidersText1 h2, .slidersText2 h2, .slidersText3 h2 {
	margin-bottom: 5px;
	font-size: 50px;
	font-weight: normal;
}
.slidersText1 h1, .slidersText2 h1, .slidersText3 h1 {
	margin: 0px;
	padding: 0px;
	font-size: 75px;
	color: #00a9ff;
	letter-spacing: -2px;
}
.slidersText1 p, .slidersText2 p, .slidersText3 p {
	padding-top: 20px;
	width: 350px;
	font-size: 18px;
	letter-spacing: 0.3px;
	line-height: 20px;
}
@media screen and (max-width: 1020px){
	.sliders {
		height: 320px;
	}
	.slidImg1, .slidImg2, .slidImg3 {
		width: 800px;
		margin: 0px auto;
	}
	.slidImg1 img, .slidImg2 img, .slidImg3 img {
		height: 320px;
	}
	.slidersText1, .slidersText2, .slidersText3 {
		top: 40px;
		left: 10px;
	}
}
@media screen and (max-width: 820px){
	.sliders {
		padding-top: 5px;
		height: 240px;
	}
	.slidImg1, .slidImg2, .slidImg3 {
		width: 550px;
		margin: 0px auto;
	}
	.slidImg1 img, .slidImg2 img, .slidImg3 img {
		height: 240px;
	}
	.slidersText1, .slidersText2, .slidersText3 {
		top: 10px;
		left: 8%;
	}
	.slidersText1 h2, .slidersText2 h2, .slidersText3 h2 {
		margin-bottom: 5px;
		margin-top: 10px;
		font-size: 25px;
	}
	.slidersText1 h1, .slidersText2 h1, .slidersText3 h1 {
		font-size: 45px;
	}
	.slidersText1 p, .slidersText2 p, .slidersText3 p {
		padding-top: 10px;
		width: 250px;
		font-size: 15px;
	}
}
@media screen and (max-width: 628px){
	.sliders {
		height: 160px;
	}
	.slidImg1, .slidImg2, .slidImg3 {
		width: 310px;
	}
	.slidImg1 img, .slidImg2 img, .slidImg3 img {
		height: 160px;
	}
	.slidersText1, .slidersText2, .slidersText3 {
		top: 2px;
		left: 2%;
	}
	.slidersText1 h2, .slidersText2 h2, .slidersText3 h2 {
		font-size: 20px;
	}
	.slidersText1 h1, .slidersText2 h1, .slidersText3 h1 {
		font-size: 30px;
	}
	.slidersText1 p, .slidersText2 p, .slidersText3 p {
		width: 130px;
		font-size: 12px;
	}
}

								/*	КОНТЕНТ БЛОК	*/

.contentBody {
	margin-top: 10px;
	padding: 10px;
	background-color: white;
}
.contentBodyNews {
	padding: 10px;
	background-color: white;
}
.blocsBar {
	padding: 30px 0%;
	background-color: #e4e4e4;
}
.blocsBar .blocs {
	width: 270px;
	background-image: url(img/box.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	padding: 5% 7%;
	margin: 0px auto;
}
.wrapBlocs {
	margin: 0px auto;
	float: left;
	width: 33.3%;
}
.wrap1 div {
	float: left;
}
.wrap1 .imgBl1, .wrap1 .imgBl2, .wrap1 .imgBl3 {
	width: 65px;
	height: 65px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.wrap1 .imgBl1 {
	background-image: url(img/blue01.png);
}
.wrap1 .imgBl2 {
	background-image: url(img/green02.png);
}
.wrap1 .imgBl3 {
	background-image: url(img/yellow03.png);
}
.wrap1 span {
	display: block;
	color: white;
	font-size: 33px;
	padding-left: 15px;
}
.wrap2 {
	margin-top: 25px;
}
.wrap2 span {
	display: block;
	float: left;
	color: #9d9d9d;
	width: 200px;
	font-size: 17px;
}
.wrap2 span a {
	color: #9d9d9d;
}
.wrap2 span a:hover {
	text-decoration: none;
}
.wrap2 .ruls {
	float: right;
	width: 46px;
	height: 46px;
}
.imgGalka1, .imgGalka2, .imgGalka3 {
	background-size: 100%;
}
.wrap2 .imgGalka1 {
	background-image: url(img/button1.png);
}
.wrap2 .imgGalka2 {
	background-image: url(img/button2.png);
}
.wrap2 .imgGalka3 {
	background-image: url(img/button3.png);
}
.wrap2 .imgGalka1:hover, .wrap2 .imgGalka2:hover, .wrap2 .imgGalka3:hover {
	background-position-y: -46px;
}
.wrap2 .ruls a {
	display: block;
	width: 100%;
	height: 100%;
}
@media screen and (max-width: 1020px){
	.blocsBar .blocs {
		width: 215px;
		padding: 5% 5%;
	}
	.wrap1 .imgBl1, .wrap1 .imgBl2, .wrap1 .imgBl3 {
		width: 50px;
		height: 50px;
	}
	.wrap1 span {
		font-size: 28px;
		padding-left: 10px;
	}
	.wrap2 {
		margin-top: 15px;
	}
	.wrap2 span {
		width: 175px;
		font-size: 15px;
	}
	.wrap2 .ruls {
		width: 40px;
		height: 40px;
	}
	.wrap2 .imgGalka1:hover, .wrap2 .imgGalka2:hover, .wrap2 .imgGalka3:hover {
		background-position-y: -40px;
	}
}
@media screen and (max-width: 780px){
	.wrapBlocs {
		float: none;
		width: 100%;
		margin: 0px;
	}
	.blocsBar {
		padding-top: 10px;
		padding-bottom: 2px;
	}
	.blocsBar .blocs {
		width: 90%;
		padding: 2% 2%;
		background-size: 110%;
		border-radius: 10px;
		margin-bottom: 20px;
	}
	.wrap1 .imgBl1, .wrap1 .imgBl2, .wrap1 .imgBl3 {
		width: 50px;
		height: 50px;
	}
	.wrap1 span {
		font-size: 28px;
		padding-left: 15px;
	}
	.wrap2 span {
		width: 90%;
		font-size: 17px;
	}
	.wrap2 .ruls {
		width: 40px;
		height: 40px;
	}
}
@media screen and (max-width: 340px){
	.blocsBar .blocs {
		background-size: 100% 100%;
	}
}

/*--------------------------------------------*/
.contentBlock {
	float: left;
	width: 50%;
	margin: 30px 0px 0px 30px;
}
.contentBlock p {
	font-size: 15px;
	text-align: justify;
}
.contentBlock p, .contentBlock span {
	line-height: 17px;
}
.contentBlock img {
	margin-top: 10px;
	display: block;
	float: left;
}
.contentBlock span {
	margin-top: 18px;
	width: 65%;
	display: block;
	float: left;
	text-align: justify;
	padding-left: 15px;
	font-size: 14px;
	color: #9d9d9d;
}
.contentBlock a {
	display: block;
	border-radius: 5px;
	background-color: #181818;
	width: 130px;
	height: 45px;
	text-decoration: none;
	color: white;
	text-align: center;
	line-height: 45px;
	font-size: 19px;
}
.contentBlock a:hover {
	background-color: #2B2B2B;
}
@media screen and (max-width: 780px){
	.contentBlock {
		width: 55%;
		margin: 30px 0px 0px 0px;
	}
	.contentBlock span {
		width: 58%;
	}
}
@media screen and (max-width: 580px){
	.contentBlock {
		float: none;
		width: 100%;
	}
	.contentBlock span {
		width: 68%;
	}
}
@media screen and (max-width: 440px){
	.contentBlock span {
		width: 100%;
		padding-left: 0px;
	}
}
/*==============================*/
.contentBlockNews, .contentBlockProduct, .contentBlockContact {
	float: left;
	width: 65%;
	padding: 10px 0px 10px 20px;
	font-size: 14px;
	margin-bottom: 60px;
}
.contentBlockNews h1 {
	margin-bottom: 0px;
	font-size: 38px;
}
.contentBlockNews div {
	margin-top: 20px;
	background-image: url(img/pic-1.gif);
	background-repeat: no-repeat;
	padding-left: 25px;
}
.contentBlockNews a {
	color: #00a9ff;
}
.contentBlockNews a:hover {
	text-decoration: none;
}
.contentBlockNews span, .contentBlockProduct span {
	color: #9d9d9d;
	display: block;
	margin-top: 5px;
	line-height: 17px;
}
@media screen and (max-width: 880px){
	.contentBlockNews, .contentBlockProduct, .contentBlockContact {
		padding: 10px 0px;
	}
}
@media screen and (max-width: 732px){
	.contentBlockNews h1 {
		font-size: 28px;
	}
}
@media screen and (max-width: 615px){
	.contentBlockNews, .contentBlockProduct, .contentBlockContact {
		float: none;
		width: 100%;
	}
}
/*============================*/
.contentBlockService {
	float: left;
	width: 45%;
	padding-bottom: 30px;
	padding-left: 4%;
}
.servh1 {
	font-size: 38px;
}
.contentBlockService img {
	float: left;
	max-width: 15%;
	display: block;
}
.serviceNote {
	font-size: 15px;
	color: #9d9d9d;
	margin-top: 20px;
	width: 90%;
}
.contentBL {
	float: left;
	display: block;
	width: 80%;
}
.serviceNote b {
	color: #0f0f0f;
	padding-left: 15px;
}
.serviceNote .contentBL span {
	display: block;
	padding-left: 15px;
	padding-top: 5px;
}
/*==========*/
.sideBarService {
	float: right;
	width: 45%;
	padding-bottom: 30px;
	padding-left: 30px;
}
.sideBarService img {
	float: left;
	max-width: 15%;
}
@media screen and (max-width: 732px){
	.servh1 {
		font-size: 28px;
	}
}
@media screen and (max-width: 650px){
	.contentBlockService {
		padding-left: 1%;
	}
}
@media screen and (max-width: 465px){
	.contentBlockService, .sideBarService {
		float: none;
	}
	.contentBlockService {
		width: 100%;
		padding-bottom: 0px;
		padding-left: 0%;
	}
	.serviceNote {
		font-size: 16px;
		margin-top: 0px;
		margin-bottom: 15px;
		width: 100%;
	}
	.sideBarService {
		float: none;
		width: 100%;
		padding-bottom: 30px;
		padding-left: 0%;
	}
}

/*=============================*/
.contentBlockProduct h1 {
	font-size:38px;
}
.contentBlockProduct p {
	line-height: 17px;
	padding-bottom: 30px;
}
.contentBlockProduct .textService1 {
	width: 75%;
	padding-left: 10px;
}
.contentBlockProduct .textService2 {
	margin-top: 20px;
}
.contentBlockProduct img, .contentBlockProduct .textService1 {
	float: left;
}
@media screen and (max-width: 732px){
	.contentBlockProduct h1 {
		font-size: 28px;
	}
}
/*===============================*/
.contentBlockContact h1 {
	font-size: 38px;
}
.contentBlockContact label {
	display: block;
	padding-bottom: 5px;
}
.contentBlockContact span, .contentBlockContact input, .contentBlockContact textarea {
	float: left;
}
.contentBlockContact span {
	width: 70px;
	font-size: 18px;
	padding-bottom: 8px;
}
.contentBlockContact input {
	width: 97%;
	height: 25px;
	border: solid thin #eaeaea; 
}
.contentBlockContact textarea {
	border: solid thin #eaeaea;
	width: 97%;
	height: 250px;
}
.contentBlockContact input:focus, .contentBlockContact textarea:focus {
	border: solid 2px #DAA520; 
	outline: none;
}
.contentBlockContact a {
	display: inline-block;
	padding: 12px 20px; 
	border: solid thin black;
	border-radius: 7px;
	font-size: 20px;
	color: white;
	background-color: #181818;
	text-decoration: none;
	float: right;
	margin-right: 8px;
	margin-top: 10px;
}
.contentBlockContact a:hover {
	background-color: #2D2D2D;
}
@media screen and (max-width: 732px){
	.contentBlockContact h1 {
		font-size: 28px;
	}
}


/*-------------------------------------------------*/
.sideBar {
	float: right;
	border: solid thin #eaeaea;
	background-color: #f9f9f9;
	border-radius: 10px;
	min-width: 150px;
	margin: 30px 35px 0px 0px;
	padding: 10px 35px 35px 35px;
}
.sideBar h1 {
	font-size: 28px;
	letter-spacing: -1px;
}
.sideBarHomeNote1 .block1, .sideBarHomeNote1 .block2 {
	float: left;
}
.sideBarHomeNote2 .block1, .sideBarHomeNote2 .block2 {
	float: left;
}  
.sideBarHomeNote1 .block1, .sideBarHomeNote2 .block1 {
	width: 50px;
}
.sideBarHomeNote1 .block2, .sideBarHomeNote2 .block2 {
	width: 150px;
	padding-left: 15px;
	font-size: 14px;
	color: #9d9d9d;
}
.sideBarHomeNote1 .block2 b, .sideBarHomeNote2 .block2 b {
	color: #0f0f0f;
	text-decoration: underline;
}
.sideBarHomeNote1 .block2 a, .sideBarHomeNote2 .block2 a {
	color: #00a9ff;
}
.sideBarHomeNote1 .block2 a:hover, .sideBarHomeNote2 .block2 a:hover {
	text-decoration: none;
}
.sideBarHomeNote1 .block1 div, .sideBarHomeNote2 .block1 div {
	color: #00a9ff;
	font-size: 48px;
}
.sideBarHomeNote1 .block1 span, .sideBarHomeNote2 .block1 span {
	padding-left: 8px;
	font-size: 18px;
	font-weight: bold;
	line-height: 10px;
}
.sideBarHomeNote1 .block2 span, .sideBarHomeNote2 .block2 span {
	line-height: 17px;
}

.sideBarHomeNote2 {
	margin-top: 20px;
}
@media screen and (max-width: 780px){
	.sideBar {
		border-radius: 10px;
		min-width: 150px;
		margin: 30px 0px 0px 0px;
		padding: 5px 15px 15px 15px;
	}
	.sideBar h1 {
		font-size: 22px;
		letter-spacing: -1px;
	}
	.sideBarHomeNote1 .block2, .sideBarHomeNote2 .block2 {
		width: 120px;
		padding-left: 7px;
		font-size: 12px;
	}
	.sideBarHomeNote1 .block1 div, .sideBarHomeNote2 .block1 div {
		font-size: 36px;
	}
	.sideBarHomeNote1 .block1 span, .sideBarHomeNote2 .block1 span {
		font-size: 16px;
	}
}
@media screen and (max-width: 580px){
	.sideBar {
		border-radius: 10px;
		width: 95%;
		margin: 30px 0px 0px 0px;
		padding: 5px 15px 15px 2%;
		float: none;
	}
	.sideBar h1 {
		font-size: 33px;
		letter-spacing: -1px;
	}
	.sideBarHomeNote1 .block2, .sideBarHomeNote2 .block2 {
		width: 78%;
		padding-left: 1%;
		font-size: 16px;
	}
	.sideBarHomeNote1 .block1 div, .sideBarHomeNote2 .block1 div {
		font-size: 40px;
	}
	.sideBarHomeNote1 .block1 span, .sideBarHomeNote2 .block1 span {
		font-size: 16px;
	}
}
/*===============================*/
.sideBarNews, .sideBarProduct, .sideBarContact {
	float: right;
	border: solid thin #eaeaea;
	border-radius: 10px; 
	height: 400px;
	margin-right: 30px;
	margin-top: 30px;
	padding: 0px 2% 60px 2%;
	background-color: #f9f9f9;
}
.sideBarNews h1 {
	font-size: 30px;
	letter-spacing: -1px;
	padding-top: 10px;
	margin-bottom: 0px;
}
.sideBarNews li {
	padding-top: 10px;
	font-size: 15px;
} 
.sideBarNews ol, .sideBarProduct ol {
	margin-top: 10px;
}
.sideBarNews ol a, .sideBarProduct ol a {
	color: #00a9ff;
}
.sideBarNews ol a:hover, .sideBarProduct ol a:hover {
	text-decoration: none;
}
.sideBarNews .buttonPr {
	display: block;
	color: white;
	width: 150px;
	margin-top: 25px;
	background-color: #181818;
	text-decoration: none;
	text-align: center;
	padding: 12px;
	border-radius: 10px;
	font-size: 20px;
}
.sideBarNews .buttonPr:hover {
	background-color: #2B2B2B;
}

/*=================================*/
.sideBarProduct {
	height: 450px;
}
.sideBarProduct h1 {
	padding-top: 10px;
	font-size: 30px;
	letter-spacing: -1px;
}
.sideBarProduct li {
	background-image: url(img/pic-1.gif);
	background-repeat: no-repeat;
	padding-left: 25px;
	margin-top: 10px;
	font-size: 15px;
	height: 16px;
}
/*==================================*/
.sideBarContact {
	line-height: 19px;
	height: 350px;
}
.sideBarContact h1 {
	font-size: 30px;
	letter-spacing: -1px;
}
.sideBarContact dd {
	padding-bottom: 10px;
}
.sideBarContact dd b {
	display: block;
	font-size: 15px;
}
.sideBarContact span, .sideBarContact p {
	color: #9d9d9d;
	font-size: 15px;
}
.sideBarContact p {
	width: 200px;
}
.sideBarContact a {
	font-size: 15px;
	color: #00a9ff;
}
@media screen and (max-width: 880px){
	.sideBarNews, .sideBarProduct, .sideBarContact {
		margin-right: 0px;
	}
}
@media screen and (max-width: 732px){
	.sideBarNews h1, .sideBarProduct h1, .sideBarContact h1 {
		font-size: 25px;
	}
	.sideBarContact p {
		width: 150px;
	}
}
@media screen and (max-width: 615px){
	.sideBarNews, .sideBarProduct, .sideBarContact {
		margin-right: 0px;
		float: none;
	}
}

								/*	ФУТЕР	*/

.footer {
	background-color: black;
	padding: 20px 30px 30px 30px;
}
.footerAddress, .footerContacts, .footerWhyUs {
	float: left;
	width: 210px;
	padding-left: 30px;
}
.footerAddress h2, .footerContacts h2, .footerWhyUs h2 {
	color: #FAFAFA;
	font-weight: normal;
}
.footerAddress span {
	float: left;
	color: #FAFAFA;
	width: 80px;
}
.footerAddress dd {
	margin-top: 8px;
	color: #9d9d9d;
	font-size: 15px;
}
.footerAddress a {
	color: #00a9ff;
}
.footerAddress a:hover {
	text-decoration: none;
}
/*--------------------------------------*/
.footerContacts {
	width: 150px;
}
.footerContacts dd {
	margin-top: 5px;
	color: #9d9d9d;
	font-size: 15px;
}
.footerContacts img, .footerContacts a {
	float: left;
}
.footerContacts a {
	padding-left: 10px;
	color: #9d9d9d;
	text-decoration: none;
}
.footerContacts a:hover {
	text-decoration: underline;
}
/*---------------------------------------*/
.footerWhyUs ul {
	list-style-image: url(img/marker.gif);
	color: #9d9d9d;
	font-size: 15px;
}
.footerWhyUs li {
	margin-bottom: 7px;
}
.footerWhyUs .lorem {
	margin-top: 7px;
}
.footerWhyUs a {
	color: #9d9d9d;
	text-decoration: none;
}
.footerWhyUs a:hover {
	text-decoration: underline;
}
/*----------------------------------------*/
.footerLogo {
	float: left;
	margin-top: 50px;
}






